@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 10 207 131;
    --primaryHover: 2 166 103;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --alt: 32 40 71;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --ring: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
  }
}
